# Lab | Web Scraping Single Page

## Business goal:
- Check the case_study_gnod.md file.

- Make sure you've understood the big picture of your project:

1. the goal of the company (Gnod),
2. their current product (Gnoosic),
3. their strategy, and
4. how your project fits into this context.

Re-read the business case and the e-mail from the CTO, take a look at the flowchart and create an initial Trello board with the tasks you think you'll have to accomplish.

## Instructions - Scraping popular songs
Your product will take a song as an input from the user and will output another song (the recommendation). In most cases, the recommended song will have to be similar to the inputted song, but the CTO thinks that if the song is on the top charts at the moment, the user will enjoy more a recommendation of a song that's also popular at the moment.

You have find data on the internet about currently popular songs. Billboard maintains a weekly Top 100 of "hot" songs here: https://www.billboard.com/charts/hot-100.

It's a good place to start! Scrape the current top 100 songs and their respective artists, and put the information into a pandas dataframe.

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
url = "https://www.billboard.com/charts/hot-100/"

In [3]:
response = requests.get(url)

In [4]:
response.status_code

200

In [5]:
soup = BeautifulSoup(response.content, 'html.parser')

In [52]:
soup.select("li.lrv-u-width-100p h3")[0].get_text()[14:33]

'Last Night\t\t\n\t\n'

In [92]:
soup.select("li.lrv-u-width-100p span.c-label")[7].get_text()[4:]

'SZA\n'

In [97]:
songs = []
artists = []

for i in range(100):
    canciones = soup.select("li.lrv-u-width-100p h3")[i].get_text()[14:45]
    songs.append(canciones)

for i in range(0,700,7):
    artistas = soup.select("li.lrv-u-width-100p span")[i].get_text()[4:]
    artists.append(artistas)

In [98]:
data = pd.DataFrame({'song':songs,'artist':artists})
data

                               song                         artist
0              Last Night\t\t\n\t\n                Morgan Wallen\n
1               Kill Bill\t\t\n\t\n                          SZA\n
2                 Flowers\t\t\n\t\n                  Miley Cyrus\n
3         Ella Baila Sola\t\t\n\t\n  Eslabon Armado X Peso Pluma\n
4               Un x100to\t\t\n\t\n   Grupo Frontera X Bad Bunny\n
..                              ...                            ...
95      It Matters To Her\t\t\n\t\n              Scotty McCreery\n
96             Like Crazy\t\t\n\t\n                        Jimin\n
97  All Of The Girls You Loved Befo                 Taylor Swift\n
98          5 Leaf Clover\t\t\n\t\n                   Luke Combs\n
99              Big Truck\t\t\n\t\n   YoungBoy Never Broke Again\n

[100 rows x 2 columns]

In [102]:
# Definimos la función lambda para reemplazar caracteres en una cadena
replace_chars = lambda x: x.replace('\t', '').replace('\n', '')

# Aplicamos la función lambda a la columna 'song' usando map()
data['song'] = data['song'].map(replace_chars)

# Aplicamos la función lambda a la columna 'artist' usando map()
data['artist'] = data['artist'].map(replace_chars)

In [103]:
data

                               song                       artist
0                        Last Night                Morgan Wallen
1                         Kill Bill                          SZA
2                           Flowers                  Miley Cyrus
3                   Ella Baila Sola  Eslabon Armado X Peso Pluma
4                         Un x100to   Grupo Frontera X Bad Bunny
..                              ...                          ...
95                It Matters To Her              Scotty McCreery
96                       Like Crazy                        Jimin
97  All Of The Girls You Loved Befo                 Taylor Swift
98                    5 Leaf Clover                   Luke Combs
99                        Big Truck   YoungBoy Never Broke Again

[100 rows x 2 columns]