In [3]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
import seaborn as sns

# Lab  Revisiting Machine Learning Case Study.

In this lab, you will use learningSet.csv file which you already have cloned in today's activities.

In [4]:
data = pd.read_csv("learningSet.txt")
data.shape

(95412, 481)

## Instructions
Complete the following steps on the categorical columns in the dataset:

In [5]:
numerical = data.select_dtypes(np.number)
categorical = data.select_dtypes('object')

- Check for null values in all the columns

In [6]:
null_percent_df = pd.DataFrame(categorical.isna().sum()/len(categorical)).reset_index()
null_percent_df.columns=['column_name','nulls_percentage']
null_percent_df

   column_name  nulls_percentage
0      OSOURCE          0.000000
1        STATE          0.000000
2          ZIP          0.000000
3     MAILCODE          0.000000
4     PVASTATE          0.000000
..         ...               ...
69      RFA_2A          0.000000
70    MDMAUD_R          0.000000
71    MDMAUD_F          0.000000
72    MDMAUD_A          0.000000
73    GEOCODE2          0.001383

[74 rows x 2 columns]

- Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:


OSOURCE - symbol definitions not provided, too many categories

ZIP CODE - we are including state already

In [7]:
categorical.columns

Index(['OSOURCE', 'STATE', 'ZIP', 'MAILCODE', 'PVASTATE', 'NOEXCH', 'RECINHSE',
       'RECP3', 'RECPGVG', 'RECSWEEP', 'MDMAUD', 'DOMAIN', 'CLUSTER',
       'AGEFLAG', 'HOMEOWNR', 'CHILD03', 'CHILD07', 'CHILD12', 'CHILD18',
       'GENDER', 'DATASRCE', 'SOLP3', 'SOLIH', 'MAJOR', 'GEOCODE', 'COLLECT1',
       'VETERANS', 'BIBLE', 'CATLG', 'HOMEE', 'PETS', 'CDPLAY', 'STEREO',
       'PCOWNERS', 'PHOTO', 'CRAFTS', 'FISHER', 'GARDENIN', 'BOATS', 'WALKER',
       'KIDSTUFF', 'CARDS', 'PLATES', 'LIFESRC', 'PEPSTRFL', 'RFA_2', 'RFA_3',
       'RFA_4', 'RFA_5', 'RFA_6', 'RFA_7', 'RFA_8', 'RFA_9', 'RFA_10',
       'RFA_11', 'RFA_12', 'RFA_13', 'RFA_14', 'RFA_15', 'RFA_16', 'RFA_17',
       'RFA_18', 'RFA_19', 'RFA_20', 'RFA_21', 'RFA_22', 'RFA_23', 'RFA_24',
       'RFA_2R', 'RFA_2A', 'MDMAUD_R', 'MDMAUD_F', 'MDMAUD_A', 'GEOCODE2'],
      dtype='object')

In [8]:
drop_list = ['ZIP','OSOURCE']

- Identify columns that over 85% missing values

In [9]:
null_percent_df = pd.DataFrame(categorical.isnull().sum() / len(categorical), columns=['nulls_percentage'])

In [10]:
columns_above_threshold = null_percent_df[null_percent_df['nulls_percentage'] > 0.85].index

In [11]:
print(columns_above_threshold)

Index([], dtype='object')

- Remove those columns from the dataframe

In [12]:
categorical = categorical.drop(columns=columns_above_threshold)

- Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

- Note that there are a few null values in the column. We will first replace those null values using the code below:

print(categorical['GENDER'].value_counts())

categorical['GENDER'] = categorical['GENDER'].fillna('F')

In [13]:
print(categorical['GENDER'].value_counts())
categorical['GENDER'] = categorical['GENDER'].fillna('F')

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [14]:
categorical['GENDER'] = categorical['GENDER'].map(lambda x: x if x in ['F', 'M'] else 'other')
categorical['GENDER'].value_counts()

F        51277
M        39094
other     5041
Name: GENDER, dtype: int64

## LAB Feature engineering

## Instructions
Here we will work on cleaning some of the other columns in the dataset using the techniques that we used before in the lessons.

- Check for null values in the numerical columns.

In [16]:
null_percent_df = pd.DataFrame(numerical.isna().sum()/len(numerical)).reset_index()
null_percent_df.columns=['column_name','nulls_percentage']
null_percent_df

    column_name  nulls_percentage
0       ODATEDW          0.000000
1         TCODE          0.000000
2           DOB          0.000000
3           AGE          0.248030
4       NUMCHLD          0.870184
..          ...               ...
402    TARGET_B          0.000000
403    TARGET_D          0.000000
404    HPHONE_D          0.000000
405      RFA_2F          0.000000
406    CLUSTER2          0.001383

[407 rows x 2 columns]

- Use appropriate methods to clean the columns GEOCODE2, WEALTH1, ADI, DMA,and MSA.

In [27]:
categorical['GEOCODE2'].value_counts()

A    34616
B    28505
D    16580
C    15524
       187
Name: GEOCODE2, dtype: int64

In [28]:
categorical['GEOCODE2'] = categorical['GEOCODE2'].replace(' ','A')
categorical['GEOCODE2'].value_counts()

A    34803
B    28505
D    16580
C    15524
Name: GEOCODE2, dtype: int64

In [40]:
print(numerical['WEALTH1'].isna().sum())
print(numerical['WEALTH1'].value_counts())

1
9.0    14309
8.0    12843
7.0    11610
6.0    10957
5.0     9860
4.0     9068
3.0     7988
2.0     7646
1.0     6546
0.0     4584
Name: WEALTH1, dtype: int64

In [39]:
numerical['WEALTH1'] = numerical['WEALTH1'].interpolate(method='nearest')

In [44]:
print(numerical['ADI'].isna().sum())
print(numerical['ADI'].value_counts())

132
13.0     7296
51.0     4622
65.0     3765
57.0     2836
105.0    2617
         ...
651.0       1
103.0       1
601.0       1
161.0       1
147.0       1
Name: ADI, Length: 204, dtype: int64

In [50]:
numerical['ADI'] = numerical['ADI'].fillna(13.0)

In [51]:
print(numerical['ADI'].isna().sum())

0

In [52]:
print(numerical['DMA'].isna().sum())
print(numerical['DMA'].value_counts())

132
803.0    7296
602.0    4632
807.0    3765
505.0    2839
819.0    2588
         ...
569.0       1
554.0       1
584.0       1
552.0       1
516.0       1
Name: DMA, Length: 206, dtype: int64

In [54]:
numerical['DMA'] = numerical['DMA'].fillna(803.0)

In [55]:
numerical['DMA'].isna().sum()

0

In [56]:
print(numerical['MSA'].isna().sum())
print(numerical['MSA'].value_counts())

132
0.0       21333
4480.0     4606
1600.0     4059
2160.0     2586
520.0      1685
          ...
9140.0        1
3200.0        1
9280.0        1
743.0         1
8480.0        1
Name: MSA, Length: 298, dtype: int64

In [57]:
numerical['MSA'] = numerical['MSA'].fillna(0.0)

In [58]:
numerical['MSA'].isna().sum()

0

In [ ]:
numerical['MSA'] = numerical['MSA'].apply(lambda x: numerical['WEALTH1'].interpolate(method='nearest') if x == 0.0 else x)

In [ ]:
numerical['MSA'].value_counts()

- Use appropriate EDA technique where ever necessary.

In [ ]:
numerical.describre()