# Lab | Working with APIs
### Instructions
Following the class example, create a function that returns the price, names of origin and arrival airports and the name of the company. Do it for all the flights between two dates that cost the same.

In [2]:
import requests
import pandas as pd
import json

In [13]:
origin = input("De donde( ISO 3166-2 code): ")
destiny = input('A donde(Departure airport IATA code): ')
date = input('Cuando(Format: YYYY-MM-DD): ')

De donde( ISO 3166-2 code): SI
A donde(Departure airport IATA code): MUC
Cuando(Format: YYYY-MM-DD): 2023-07-01

### Skyscanner
https://rapidapi.com/3b-data-3b-data-default/api/skyscanner44/
### ISO 3166-2 code
https://www.inapi.cl/docs/default-source/default-document-library/iniciales_paises_iso.pdf?sfvrsn=2184ea1d_2
### IATA code
https://www.nationsonline.org/oneworld/IATA_Codes/airport_code_list.htm#:~:text=The%20International%20Air%20Transport%20Association%27s,logistics%20to%20identify%20an%20airport.

In [19]:
def Skyscanner(origen,destino,fecha):
    import requests
    import pandas as pd
    import json
    
    url = "https://skyscanner44.p.rapidapi.com/fly-to-country"

    querystring = {"destination":origen,
                   "origin":destino,
                   "departureDate":fecha}

    headers = {
        "X-RapidAPI-Key": "fc007f78b2mshef468774337c06cp1cbef0jsn32689f2fd1ac",
        "X-RapidAPI-Host": "skyscanner44.p.rapidapi.com"
    }

    response = requests.get(url, headers=headers, params=querystring)
    df = pd.json_normalize(response.json(),["PlacePrices"])
    df = df.drop(['ImageUrl','HotelUrl','HotelPrice'],axis=1)
    return df

In [20]:
data_fly = Skyscanner(origin,destiny,date)
data_fly

,Id,Direct,Name,CountryName,DirectPrice,IndirectPrice,IndirectQuoteDateTime,DirectQuoteDateTime
0,LJUB,True,Ljubljana,Slovenia,236,172,2023-05-09T12:05:34,2023-05-09T12:05:32