In [46]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
import seaborn as sns

In this lab, you will use learningSet.csv file which you already have cloned in today's activities.

In [47]:
data = pd.read_csv("learningSet.txt")
data.shape

(95412, 481)

# Instructions
Complete the following steps on the categorical columns in the dataset:

In [48]:
numerical = data.select_dtypes(np.number)
categorical = data.select_dtypes('object')

- Check for null values in all the columns

In [49]:
null_percent_df = pd.DataFrame(categorical.isna().sum()/len(categorical)).reset_index()
null_percent_df.columns=['column_name','nulls_percentage']
null_percent_df

   column_name  nulls_percentage
0      OSOURCE          0.000000
1        STATE          0.000000
2          ZIP          0.000000
3     MAILCODE          0.000000
4     PVASTATE          0.000000
..         ...               ...
69      RFA_2A          0.000000
70    MDMAUD_R          0.000000
71    MDMAUD_F          0.000000
72    MDMAUD_A          0.000000
73    GEOCODE2          0.001383

[74 rows x 2 columns]

- Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:


OSOURCE - symbol definitions not provided, too many categories

ZIP CODE - we are including state already

In [50]:
categorical.columns

Index(['OSOURCE', 'STATE', 'ZIP', 'MAILCODE', 'PVASTATE', 'NOEXCH', 'RECINHSE',
       'RECP3', 'RECPGVG', 'RECSWEEP', 'MDMAUD', 'DOMAIN', 'CLUSTER',
       'AGEFLAG', 'HOMEOWNR', 'CHILD03', 'CHILD07', 'CHILD12', 'CHILD18',
       'GENDER', 'DATASRCE', 'SOLP3', 'SOLIH', 'MAJOR', 'GEOCODE', 'COLLECT1',
       'VETERANS', 'BIBLE', 'CATLG', 'HOMEE', 'PETS', 'CDPLAY', 'STEREO',
       'PCOWNERS', 'PHOTO', 'CRAFTS', 'FISHER', 'GARDENIN', 'BOATS', 'WALKER',
       'KIDSTUFF', 'CARDS', 'PLATES', 'LIFESRC', 'PEPSTRFL', 'RFA_2', 'RFA_3',
       'RFA_4', 'RFA_5', 'RFA_6', 'RFA_7', 'RFA_8', 'RFA_9', 'RFA_10',
       'RFA_11', 'RFA_12', 'RFA_13', 'RFA_14', 'RFA_15', 'RFA_16', 'RFA_17',
       'RFA_18', 'RFA_19', 'RFA_20', 'RFA_21', 'RFA_22', 'RFA_23', 'RFA_24',
       'RFA_2R', 'RFA_2A', 'MDMAUD_R', 'MDMAUD_F', 'MDMAUD_A', 'GEOCODE2'],
      dtype='object')

In [51]:
drop_list = ['ZIP','OSOURCE']

- Identify columns that over 85% missing values

In [52]:
null_percent_df = pd.DataFrame(categorical.isnull().sum() / len(categorical), columns=['nulls_percentage'])

In [53]:
columns_above_threshold = null_percent_df[null_percent_df['nulls_percentage'] > 0.85].index

In [54]:
print(columns_above_threshold)

Index([], dtype='object')

- Remove those columns from the dataframe

In [55]:
categorical = categorical.drop(columns=columns_above_threshold)

- Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

- Note that there are a few null values in the column. We will first replace those null values using the code below:

print(categorical['GENDER'].value_counts())

categorical['GENDER'] = categorical['GENDER'].fillna('F')

In [57]:
print(categorical['GENDER'].value_counts())
categorical['GENDER'] = categorical['GENDER'].fillna('F')

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [58]:
categorical['GENDER'] = categorical['GENDER'].map(lambda x: x if x in ['F', 'M'] else 'other')
categorical['GENDER'].value_counts()

F        51277
M        39094
other     5041
Name: GENDER, dtype: int64